In [1]:
import pymc3 as pm
import pandas as pd

In [4]:
file1 = '/home/isidro/SuperMC/chains/LCDM_py_SN+BBAO+RiessH0_mh_4000_1.txt'
file2 = '/home/isidro/SuperMC/chains/LCDM_py_SN_mh_4000_2.txt'

In [5]:
df1 = pd.read_csv(file1, sep=' ')
#df2 = pd.read_csv(file2, sep=' ')

In [6]:
df1.head()

,2.66388e-06,28.444,0.332821,0.0224671,0.686183,-17.1466,-0.656728,-1.02452,-3.71505,-2.62569,-0.0701363,-0.402198,-2.33075,-0.47236,Unnamed: 14
0,0.000002,26.4582,0.306213,0.022435,0.687813,-16.6453,-0.081859,-1.35847,-2.61274,-2.17265,-0.000673,-0.993221,-2.18643,-0.406798,NaN
1,0.000002,26.5613,0.294788,0.022470,0.687827,-16.6090,-0.005216,-1.84744,-2.10561,-2.03100,-0.005301,-1.293790,-2.18521,-0.478775,NaN
2,0.000001,27.3285,0.306051,0.022514,0.699371,-16.6440,-0.000035,-2.14894,-3.17713,-2.18519,-0.004559,-1.295560,-1.29533,-0.577751,NaN
3,0.000002,26.7922,0.313955,0.022483,0.691915,-16.7327,-0.111678,-1.25035,-3.15332,-2.29020,-0.003680,-0.900560,-1.84357,-0.506178,NaN
4,0.000004,27.1175,0.312402,0.022470,0.698079,-16.7112,-0.021482,-1.69247,-3.42887,-2.29999,-0.000030,-1.102250,-1.38339,-0.477821,NaN

In [6]:
chain1 = df1.iloc[:,2:5]
chain2 = df2.iloc[:,2:5]

In [23]:
len(chain1)

3950

In [7]:
DF = [[chain1],[chain2]]

In [10]:
pm.gelman_rubin(DF)

ValueError: cannot copy sequence with size 426 to array axis with dimension 3

In [2]:
a = [1,2,3]
b = [4,5,6]
df = pd.DataFrame()

In [3]:
df.head()

Empty DataFrame
Columns: []
Index: []

In [5]:
C = [a,b]

In [15]:
C[:][:]

[[1, 2, 3], [4, 5, 6]]

In [16]:
import numpy as np

In [17]:
Cnp = np.array(C)

In [18]:
Cnp

array([[1, 2, 3],
       [4, 5, 6]])

In [22]:
np.mean(Cnp, axis=0)

array([2.5, 3.5, 4.5])

In [23]:
a = [b]*3

In [24]:
a

[[4, 5, 6], [4, 5, 6], [4, 5, 6]]

In [25]:
t = [3]*4

In [26]:
t

[3, 3, 3, 3]

In [28]:
t > [0]*4

True